.mesh{

position:fixed;

border-radius:50%;

filter:blur(150px);

opacity:.25;

animation:move 20s infinite;
}

.mesh1{
width:400px;
height:400px;
background:#8b5cf6;
}

.mesh2{
width:500px;
height:500px;
background:#06b6d4;
right:0;
}

.mesh3{
width:350px;
height:350px;
background:#ec4899;
bottom:0;
left:30%;
}

@keyframes move{

50%{

transform:
translateY(-100px)
translateX(100px);

}

}