*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:"Inter",sans-serif;

background:
var(--bg-primary);

color:
var(--text);

overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

ul{
list-style:none;
}

img{
max-width:100%;
display:block;
}

section{
padding:120px 10%;
position:relative;
}

.container{
max-width:1300px;
margin:auto;
}

.section-title{

font-size:3rem;
font-weight:700;

margin-bottom:60px;

text-align:center;
}

.gradient-text{
background:var(--gradient);

-webkit-background-clip:text;

-webkit-text-fill-color:
transparent;
}
.light{

--bg-primary:#ffffff;
--text:#111827;
}

.dark{

--bg-primary:#030712;
--text:#ffffff;
}

body{

background:
var(--bg-primary);

color:
var(--text);

transition:
background .4s ease,
color .4s ease;

}