.about-section{
position:relative;
}

.about-card{

max-width:900px;

margin:auto;

padding:50px;

border-radius:30px;

text-align:center;
}

.about-card p{

font-size:1.1rem;

line-height:1.9;

color:var(--muted);

margin-bottom:20px;
}

@media(max-width:768px){

.about-card{
padding:30px;
}

}