.contact-wrapper{

display:grid;

grid-template-columns:
1fr 1fr;

gap:40px;
}

.contact-info{

padding:40px;

border-radius:25px;
}

.contact-info div{

display:flex;

align-items:center;

gap:15px;

margin-bottom:25px;
}

.contact-info svg{

font-size:1.5rem;

color:
var(--secondary);
}

.contact-form{

padding:40px;

border-radius:25px;

display:flex;

flex-direction:column;

gap:20px;
}

.contact-form input,
.contact-form textarea{

padding:16px;

background:
rgba(255,255,255,.05);

border:none;

outline:none;

border-radius:12px;

color:white;
}

.error{

color:#ff4f4f;
}

@media(max-width:900px){

.contact-wrapper{

grid-template-columns:
1fr;

}

}