.timeline{

max-width:900px;

margin:auto;

position:relative;
}

.timeline::before{

content:"";

position:absolute;

left:25px;

top:0;

height:100%;

width:3px;

background:
var(--gradient);
}

.timeline-card{

position:relative;

padding:35px;

margin-left:70px;

border-radius:25px;
}

.timeline-card::before{

content:"";

position:absolute;

left:-58px;

top:40px;

width:20px;
height:20px;

border-radius:50%;

background:
var(--secondary);
}

.timeline-card h3{
font-size:1.5rem;
margin-bottom:10px;
}

.timeline-card h4{
margin-bottom:10px;
}

.timeline-card span{
color:var(--muted);
}

.timeline-card ul{
margin-top:20px;
}

.timeline-card li{
margin-bottom:12px;
}