.cursor{

width:22px;
height:22px;

position:fixed;

border:
2px solid
var(--secondary);

border-radius:50%;

pointer-events:none;

z-index:99999;

transform:
translate(-50%,-50%);

transition:
transform .15s ease;

backdrop-filter:
blur(4px);
}

a:hover ~ .cursor{
transform:
translate(-50%,-50%)
scale(1.5);
}